<div class="container" id="main-container">
    <div class="row" style="margin-top: 40px;">
        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6 test"  height="100">
                        <i class="fa-solid fa-folder" style="color: #ffe53d;"></i>  
                        <a href="">Dossier CNDP Alsa City Agadir</a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <div class="float-right btn-group btn-group-sm">
                            <a href="#" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                            <a href="#" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                         </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6 test"  height="100">
                        <i class="fa-solid fa-folder" style="color: #ffe53d;"></i>  
                        <a href="">Dossier CNDP Khouribga</a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <div class="float-right btn-group btn-group-sm">
                            <a href="#" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                            <a href="#" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                         </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6 test"  height="100">
                        <i class="fa-solid fa-folder" style="color: #ffe53d;"></i>  
                        <a href="">Dossier CNDP GAT</a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <div class="float-right btn-group btn-group-sm">
                            <a href="#" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                            <a href="#" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                         </div>
                    </div>
                </div>
            </div>
        </div>
</div>
