<div class="container">

          
 <img src="assets/LOGO.png" height="100" style="margin-bottom: -400px; margin-left: 400px;" alt="hhhhhSello"  />
  <div class="row height d-flex justify-content-center align-items-center">
   
      <div class="col-md-8" style="margin-top: -200px;">
        <div class="search">
        
          <i class="fa fa-search"></i>
          <input type="text"   class="form-control" >
          <button  routerLink="/search" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn ted">Rechercher</button>
        </div>
        
      </div>
      
    </div>
</div>



