.iconJur {
    width: 24px; /* Set the desired width of the icon */
    height: 24px; /* Set the desired height of the icon */
    background-image: url("../assets/24.png"); /* Replace with the path to your image */
    background-size: cover; /* Adjust the background size as needed */
  }
  