<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">user Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
          
             <a class="nav-link active"  href="#" (click)="onOpenModal(null, 'add')">Add user <span class="sr-only">(current)</span></a>
           
          </li>
          <!--<form class="form-inline my-2 my-lg-0">
            <input 
            type="search" 
            (ngModelChange)="searchUsers(key.value)"
            (keydown.backspace)="onBackspace()"
            #key="ngModel"   
            ngModel 
            name="key" 
            id="searchName" 
          />
                
            <button type="button" (click)="clearSearchInput()">      
              Clear        
            </button>
          </form> -->
          <form class="form-inline my-2 my-lg-0" (submit)="onSearchSubmit($event)">
            <input 
              type="search" 
              [(ngModel)]="searchTerm"
              name="key" 
              id="searchName" 
            />
            <button type="submit">Rechercher</button>
            <button type="button" (click)="clearSearchInput()">Clear</button>
          </form>
          
          
          



       </ul>
       
       
    </div>
  </nav>
  <div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let user of users" class="col-md-6 col-xl-3">
       <div class="card m-b-30">
          <div class="card-body row">
             
             <div class="col-6 card-title align-self-center mb-0">
                <h5><b>{{user?.username}}</b></h5>
                <p class="m-0"><b>{{user?.role}}</b></p>
             </div>
          </div>
          <ul class="list-group list-group-flush">
             <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{user?.email}}</li>
             <li class="list-group-item"><i ></i>Nom : {{user?.nom}}</li>
             <li class="list-group-item"><i ></i>prenom: {{user?.prenom}}</li>
             <li class="list-group-item">DeptName: {{ user?.Dept?.nom }}</li>
             <li class="list-group-item"><i></i>Date Creation {{ user?.datecreation | date: 'dd/MM/yyyy HH:mm:ss' }}</li>

           <!--<li class="list-group-item"><i ></i>Date Modification {{user?.datelastactivity}}</li> -->  
          </ul>
          <div class="card-body">
             <div class="float-right btn-group btn-group-sm">
                <a (click)="onOpenModal(user, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                <a (click)="onOpenModal(user, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
             </div>

            

          </div>
       </div>
    </div>
  </div>
  

  
             <!-- Add User Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddUser(addForm)">

                <div class="form-group">
                    <label for="id">Id</label>
                    <input type="text" ngModel name="userid" class="form-control" id="userid" placeholder="UserID" required>
                 </div>

            <div class="form-group">
               <label for="name">Nom</label>
               <input type="text" ngModel name="nom" class="form-control" id="nom" placeholder="Nom" required>
            </div>

            <div class="form-group">
                <label for="prenom">Prenom</label>
                <input type="text" ngModel name="prenom" class="form-control" id="prenom" placeholder="Prenom" required>
             </div>

            <div class="form-group">
               <label for="email">Email Address</label>
               <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
            </div>

            
            <div class="form-group">
               <label for="role">User Type</label>
               <select [(ngModel)]="selectedrole" name="role" class="form-control" id="role" required>
                 <option value="" disabled selected>Select User Type</option>
                 <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
               </select>
             </div>
             
          
            <div class="form-group">
                <label for="password">password</label>
                <input type="password" ngModel name="password" class="form-control" id="password" placeholder="password" required>
             </div>

            <div class="modal-footer">
               <button type="button" id="add-User-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>
  

<!-- Edit Modal -->
<div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="userEditModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="updateUserModalLabel">Edit user {{editUser?.username}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #editForm="ngForm">
               <div class="form-group">
                  <label for="name">UserName</label>
                  <input type="text" ngModel="{{editUser?.username}}" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">
               </div>
               <input type="hidden" ngModel="{{editUser?.userId}}" name="id" class="form-control" id="id" placeholder="ID">
               <input type="hidden" ngModel="{{editUser?.password}}" name="id" class="form-control" id="id" placeholder="password">

               <div class="form-group">
                  <label for="Nom">Nom</label>
                  <input type="text" ngModel="{{editUser?.nom}}" name="nom" class="form-control" id="nom" name="nom" placeholder="nom">
               </div>
               
               <div class="form-group">
                  <label for="phone">Prenom</label>
                  <input type="text" ngModel="{{editUser?.prenom}}" name="prenom" class="form-control" id="prenom" name="prenom" placeholder="prenom">
               </div>

             

               <div class="form-group">
                  <label for="role">User Type : {{editUser?.role}} </label>
                  <select [(ngModel)]="selectedrole" name="role" class="form-control" id="role" required>
                    <option value="" disabled selected>Select User Type</option>
                    <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                  </select>
                </div>


               <div class="form-group">
                  <label for="email">Email </label>
                  <input type="email" ngModel="{{editUser?.email}}" name="email" class="form-control" id="email" placeholder="Email">
               </div>
               <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" ngModel="{{editUser?.password}}" name="email" class="form-control" id="email" placeholder="password">
               </div>

             

               <div class="modal-footer">
                  <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                  <button (click)="onUpdateUser(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
               </div>
            </form>
         </div>
      </div>
   </div>
 </div>
 
 <!-- Delete Modal -->
 <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="deleteModelLabel">Delete user</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <p>Are you sure you want to delete user {{deleteUser?.username}}?</p>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
               <button (click)="onDeleteUser(deleteUser?.userId)" class="btn btn-danger" data-dismiss="modal">Yes</button>
            </div>
         </div>
      </div>
   </div>
 </div>
 </div>
 
 <!-- Notification for no users -->
 <div *ngIf="users?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
 <div class="alert alert-info" role="alert">
   <h4 class="alert-heading">NO userS!</h4>
   <p>No users were found.</p>
 </div>
 </div>