.logo-image {
  /* Définissez une taille maximale pour l'image */
  max-width: 100%;
  /* Ajoutez éventuellement d'autres styles personnalisés pour l'image */
}
@media (max-width: 767px) {
  .logo-image {
    max-width: 200px;
    height: 30px;
  }
}
