
.e119_207 { 
	background-color:rgba(248.0000004172325, 249.00000035762787, 255, 1);
	width:1427px;
	height:768px;
	position:absolute;
}
.e119_255 { 
	background-color:rgba(255, 255, 255, 1);
	width:933px;
	height:725px;
	position:absolute;
	left:215px;
	top:43px;
	border-top-left-radius:39.25886917114258px;
	border-top-right-radius:39.25886917114258px;
	border-bottom-left-radius:39.25886917114258px;
	border-bottom-right-radius:39.25886917114258px;
}
.e119_257 { 
	background-color:rgba(230.1330703496933, 234.96937483549118, 241.18749797344208, 1);
	width:768px;
	height:37px;
	position:absolute;
	left:286px;
	top:145px;
	border-top-left-radius:14.854707717895508px;
	border-top-right-radius:14.854707717895508px;
	border-bottom-left-radius:14.854707717895508px;
	border-bottom-right-radius:14.854707717895508px;
}
.e119_258 { 
	background-color:rgba(230.1330703496933, 234.96937483549118, 241.18749797344208, 1);
	width:834px;
	height:36px;
	position:absolute;
	left:284px;
	top:418px;
	border-top-left-radius:14.854707717895508px;
	border-top-right-radius:14.854707717895508px;
	border-bottom-left-radius:14.854707717895508px;
	border-bottom-right-radius:14.854707717895508px;
}
.e119_268 { 
	color:rgba(110.0609801709652, 113.58494907617569, 118.11577275395393, 1);
	width:78.02804565429688px;
	height:17.252405166625977px;
	position:absolute;
	left:341.205078125px;
	top:209.27801513671875px;
	font-family:General Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e119_269 { 
	color:rgba(110.0609801709652, 113.58494907617569, 118.11577275395393, 1);
	width:69.26084899902344px;
	height:17.252405166625977px;
	position:absolute;
	left:350.8095703125px;
	top:487.041748046875px;
	font-family:General Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e119_272 { 
	color:rgba(110.0609801709652, 113.58494907617569, 118.11577275395393, 1);
	width:51.72645568847656px;
	height:17.252405166625977px;
	position:absolute;
	left:616.837890625px;
	top:492.4029541015625px;
	font-family:General Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e119_275 { 
	transform: rotate(-0.26312435902756426deg);
	width:744.7230224609375px;
	height:0px;
	position:absolute;
	left:309px;
	top:245px;
}

.e119_276 { 
	transform: rotate(-0.06083255600913627deg);
	width:816.287109375px;
	height:0px;
	position:absolute;
	left:301.71337890625px;
	top:527.9133911132812px;
}

.e119_277 { 
	transform: rotate(-0.25033915363999665deg);
	width:816.294677734375px;
	height:0px;
	position:absolute;
	left:301.71337890625px;
	top:606.6277465820312px;
}

.e119_278 { 
	transform: rotate(-0.2967930821760351deg);
	width:811.8746337890625px;
	height:0px;
	position:absolute;
	left:306.13623046875px;
	top:678.2055053710938px;
}

.e119_300 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:184px;
	height:15px;
	position:absolute;
	left:389px;
	top:266px;
	font-family:General Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e119_301 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:106px;
	height:16px;
	position:absolute;
	left:394px;
	top:550px;
	font-family:General Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e119_302 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:95px;
	height:16px;
	position:absolute;
	left:392px;
	top:627px;
	font-family:General Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e119_303 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:116.60370635986328px;
	height:15.5271635055542px;
	position:absolute;
	left:616.837890625px;
	top:556.384033203125px;
	font-family:General Sans;
	text-align:left;
	font-size:13.348237037658691px;
	letter-spacing:0;
}
.e119_304 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:116.60370635986328px;
	height:15.5271635055542px;
	position:absolute;
	left:616.837890625px;
	top:627.7762451171875px;
	font-family:General Sans;
	text-align:left;
	font-size:13.348237037658691px;
	letter-spacing:0;
}
.e119_305 { 
	color:rgba(160.00000566244125, 174.00000482797623, 192.00000375509262, 1);
	width:199.01535034179688px;
	height:12.076683044433594px;
	position:absolute;
	left:389px;
	top:283px;
	font-family:General Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e119_306 { 
	color:rgba(160.00000566244125, 174.00000482797623, 192.00000375509262, 1);
	width:172.71376037597656px;
	height:15.5271635055542px;
	position:absolute;
	left:393.7685546875px;
	top:568.9906005859375px;
	font-family:General Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e119_307 { 
	color:rgba(160.00000566244125, 174.00000482797623, 192.00000375509262, 1);
	width:164.8232879638672px;
	height:16.38978385925293px;
	position:absolute;
	left:392.01513671875px;
	top:642.3133544921875px;
	font-family:General Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e119_308 { 
	transform: rotate(0.2950380942852622deg);
	width:744.6054077148438px;
	height:0px;
	position:absolute;
	left:309px;
	top:319px;
}
.e119_309 { 
	transform: rotate(0.2950380942852622deg);
	width:744.6054077148438px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}

.e119_310 { 
	color:rgba(110.0609801709652, 113.58494907617569, 118.11577275395393, 1);
	width:98.19259643554688px;
	height:17.252405166625977px;
	position:absolute;
	left:639.63671875px;
	top:211.16964721679688px;
	font-family:General Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e119_311 { 
	color:rgba(110.0609801709652, 113.58494907617569, 118.11577275395393, 1);
	width:98.19259643554688px;
	height:17.252405166625977px;
	position:absolute;
	left:777.76953125px;
	top:492.4029541015625px;
	font-family:General Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e119_312 { 
	color:rgba(110.0609801709652, 113.58494907617569, 118.11577275395393, 1);
	width:122.7407455444336px;
	height:17.252405166625977px;
	position:absolute;
	left:812.5185546875px;
	top:211.3360595703125px;
	font-family:General Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e119_313 { 
	color:rgba(110.0609801709652, 113.58494907617569, 118.11577275395393, 1);
	width:122.7407455444336px;
	height:17.252405166625977px;
	position:absolute;
	left:925.67822265625px;
	top:492.4029541015625px;
	font-family:General Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e119_314 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:117px;
	height:25px;
	position:absolute;
	left:307px;
	top:153px;
	font-family:General Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e158_53 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:638px;
	height:54px;
	position:absolute;
	left:304px;
	top:74px;
	font-family:General Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e119_315 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:98.19259643554688px;
	height:25.0159854888916px;
	position:absolute;
	left:304.27587890625px;
	top:425.5872497558594px;
	font-family:General Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e119_316 { 
	border-radius:500px;
	background-color:rgba(252.87500202655792, 243.1811597943306, 155.93958914279938, 1);
	width:31.628286361694336px;
	height:31.119640350341797px;
	position:absolute;
	left:348.6474609375px;
	top:264.195068359375px;
}
.e119_317 { 
	border-radius:500px;
	background-color:rgba(226.9322893023491, 247.56250709295273, 231.47093296051025, 1);
	width:31.628286361694336px;
	height:31.119640350341797px;
	position:absolute;
	left:353.439453125px;
	top:554.3260498046875px;
}
.e119_318 { 
	border-radius:500px;
	background-color:rgba(155.93958914279938, 212.1621322631836, 252.87500202655792, 1);
	width:31.628286361694336px;
	height:31.119640350341797px;
	position:absolute;
	left:351.68603515625px;
	top:627.6488037109375px;
}
.e119_319 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:25.424869537353516px;
	height:19.84026527404785px;
	position:absolute;
	left:351.4375px;
	top:269.68670654296875px;
	font-family:General Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e119_320 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:21.041271209716797px;
	height:19.84026527404785px;
	position:absolute;
	left:359px;
	top:561px;
	font-family:General Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e119_321 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:21.041271209716797px;
	height:19.84026527404785px;
	position:absolute;
	left:357.267578125px;
	top:633.1405639648438px;
	font-family:General Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e119_325 { 
	background-color:rgba(236.93750202655792, 236.93750202655792, 236.93750202655792, 1);
	width:34.419010162353516px;
	height:27.45850372314453px;
	position:absolute;
	left:639.63671875px;
	top:265.17138671875px;
	border-top-left-radius:5.305253505706787px;
	border-top-right-radius:5.305253505706787px;
	border-bottom-left-radius:5.305253505706787px;
	border-bottom-right-radius:5.305253505706787px;
}
.e119_326 { 
	background-color:rgba(236.93750202655792, 236.93750202655792, 236.93750202655792, 1);
	width:34.419010162353516px;
	height:27.45850372314453px;
	position:absolute;
	left:777.76953125px;
	top:553.7269287109375px;
	border-top-left-radius:5.305253505706787px;
	border-top-right-radius:5.305253505706787px;
	border-bottom-left-radius:5.305253505706787px;
	border-bottom-right-radius:5.305253505706787px;
}
.e119_327 { 
	background-color:rgba(236.93750202655792, 236.93750202655792, 236.93750202655792, 1);
	width:34.419010162353516px;
	height:27.45850372314453px;
	position:absolute;
	left:777.76953125px;
	top:625.1189575195312px;
	border-top-left-radius:5.305253505706787px;
	border-top-right-radius:5.305253505706787px;
	border-bottom-left-radius:5.305253505706787px;
	border-bottom-right-radius:5.305253505706787px;
}
.e119_328 { 
	background-color:rgba(226.63125425577164, 251.81250303983688, 242.74729907512665, 1);
	width:73.48925018310547px;
	height:27.45850372314453px;
	position:absolute;
	left:797.7783203125px;
	top:265.17138671875px;
	border-top-left-radius:5.305253505706787px;
	border-top-right-radius:5.305253505706787px;
	border-bottom-left-radius:5.305253505706787px;
	border-bottom-right-radius:5.305253505706787px;
}
.e119_332 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:6.13703727722168px;
	height:19.84026527404785px;
	position:absolute;
	left:654.52099609375px;
	top:268.83251953125px;
	font-family:General Sans;
	text-align:left;
	font-size:16.976810455322266px;
	letter-spacing:0;
}
.e119_333 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:6.13703727722168px;
	height:19.84026527404785px;
	position:absolute;
	left:792.654296875px;
	top:557.3880004882812px;
	font-family:General Sans;
	text-align:left;
	font-size:16.976810455322266px;
	letter-spacing:0;
}
.e119_334 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:6.13703727722168px;
	height:19.84026527404785px;
	position:absolute;
	left:792.654296875px;
	top:628.7801513671875px;
	font-family:General Sans;
	text-align:left;
	font-size:16.976810455322266px;
	letter-spacing:0;
}
.e119_335 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:53.479896545410156px;
	height:15.5271635055542px;
	position:absolute;
	left:807.0810546875px;
	top:269.747802734375px;
	font-family:General Sans;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e119_336 { 
	width:50.233158111572266px;
	height:27.45850372314453px;
	position:absolute;
	left:925.6787109375px;
	top:553.7269287109375px;
}
.e119_337 { 
	background-color:rgba(226.63125425577164, 251.81250303983688, 242.74729907512665, 1);
	width:50.233158111572266px;
	height:27.45850372314453px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5.305253505706787px;
	border-top-right-radius:5.305253505706787px;
	border-bottom-left-radius:5.305253505706787px;
	border-bottom-right-radius:5.305253505706787px;
}
.e119_338 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:31.561906814575195px;
	height:15.5271635055542px;
	position:absolute;
	left:9.302630424499512px;
	top:4.576389789581299px;
	font-family:General Sans;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e119_339 { 
	width:60.62623977661133px;
	height:27.45850372314453px;
	position:absolute;
	left:925.6787109375px;
	top:625.1189575195312px;
}
.e119_340 { 
	background-color:rgba(236.93750202655792, 236.93750202655792, 236.93750202655792, 1);
	width:60.62623977661133px;
	height:27.45850372314453px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5.305253505706787px;
	border-top-right-radius:5.305253505706787px;
	border-bottom-left-radius:5.305253505706787px;
	border-bottom-right-radius:5.305253505706787px;
}
.e157_38 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:110.4666748046875px;
	height:15.5271635055542px;
	position:absolute;
	left:388.72802734375px;
	top:341.1734619140625px;
	font-family:General Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e157_39 { 
	color:rgba(160.00000566244125, 174.00000482797623, 192.00000375509262, 1);
	width:184.11111450195312px;
	height:16.38978385925293px;
	position:absolute;
	left:388.50830078125px;
	top:354.3645935058594px;
	font-family:General Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e157_40 { 
	transform: rotate(-0.20754495569203732deg);
	width:745.27783203125px;
	height:0px;
	position:absolute;
	left:308.72705078125px;
	top:391.69964599609375px;
}
.e157_41 { 
	transform: rotate(-0.20754495569203732deg);
	width:745.27783203125px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}

.e157_42 { 
	border-radius:500px;
	background-color:rgba(240.30327022075653, 212.90211975574493, 237.56316125392914, 1);
	width:31.628286361694336px;
	height:31.119640350341797px;
	position:absolute;
	left:348.7275390625px;
	top:339.43157958984375px;
}
.e157_43 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:25.424869537353516px;
	height:19.84026527404785px;
	position:absolute;
	left:355.19287109375px;
	top:344.01318359375px;
	font-family:General Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e157_45 { 
	background-color:rgba(236.93750202655792, 236.93750202655792, 236.93750202655792, 1);
	width:34.419010162353516px;
	height:27.45850372314453px;
	position:absolute;
	left:639.71728515625px;
	top:340.40789794921875px;
	border-top-left-radius:5.305253505706787px;
	border-top-right-radius:5.305253505706787px;
	border-bottom-left-radius:5.305253505706787px;
	border-bottom-right-radius:5.305253505706787px;
}
.e157_46 { 
	background-color:rgba(226.63125425577164, 251.81250303983688, 242.74729907512665, 1);
	width:73.48925018310547px;
	height:27.45850372314453px;
	position:absolute;
	left:797.85888671875px;
	top:340.40789794921875px;
	border-top-left-radius:5.305253505706787px;
	border-top-right-radius:5.305253505706787px;
	border-bottom-left-radius:5.305253505706787px;
	border-bottom-right-radius:5.305253505706787px;
}
.e157_48 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:6.13703727722168px;
	height:19.84026527404785px;
	position:absolute;
	left:654.6015625px;
	top:344.069091796875px;
	font-family:General Sans;
	text-align:left;
	font-size:16.976810455322266px;
	letter-spacing:0;
}
.e157_49 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:53.479896545410156px;
	height:15.5271635055542px;
	position:absolute;
	left:807.1611328125px;
	top:344.984375px;
	font-family:General Sans;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e119_343 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:45.581939697265625px;
	height:15.5271635055542px;
	position:absolute;
	left:933.12109375px;
	top:631.5259399414062px;
	font-family:General Sans;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e119_265 { 
	color:rgba(54.8625884950161, 56.96945384144783, 59.67827148735523, 1);
	width:85px;
	height:14px;
	position:absolute;
	left:1287px;
	top:121px;
	font-family:General Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e119_344 { 
	transform: rotate(90.55723427846222deg);
	width:608.0975952148438px;
	height:0px;
	position:absolute;
	left:1264.033203125px;
	top:128.07669067382812px;
}

.e119_345 { 
	border-radius:500px;
	width:11.9075288772583px;
	height:11.716032028198242px;
	position:absolute;
	left:1258.119140625px;
	top:116px;
}


.e119_346 { 
	border-radius:500px;
	background-color:rgba(226.63125425577164, 251.81250303983688, 242.74729907512665, 1);
	width:41.67634963989258px;
	height:41.00611114501953px;
	position:absolute;
	left:1242.337890625px;
	top:153.09268188476562px;
}
.e119_347 { 
	border-radius:500px;
	background-color:rgba(155.93958914279938, 212.1621322631836, 252.87500202655792, 1);
	width:41.67634963989258px;
	height:41.00611114501953px;
	position:absolute;
	left:1240.03466796875px;
	top:222.973388671875px;
}
.e119_348 { 
	border-radius:500px;
	background-color:rgba(227.00000166893005, 248.0000004172325, 231.00000143051147, 1);
	width:41.67634963989258px;
	height:41.00611114501953px;
	position:absolute;
	left:1240.03466796875px;
	top:306.9383239746094px;
}
.e119_349 { 
	border-radius:500px;
	background-color:rgba(247.56250709295273, 226.9322893023491, 244.2616242170334, 1);
	width:41.67634963989258px;
	height:41.00611114501953px;
	position:absolute;
	left:1240.03466796875px;
	top:381.13983154296875px;
}
.e119_350 { 
	border-radius:500px;
	background-color:rgba(252.87500202655792, 243.1811597943306, 155.93958914279938, 1);
	width:41.67634963989258px;
	height:41.00611114501953px;
	position:absolute;
	left:1240.03466796875px;
	top:457.2940673828125px;
}
.e119_351 { 
	color:rgba(133.19236814975739, 136.35805428028107, 140.42827427387238, 1);
	width:45px;
	height:25px;
	position:absolute;
	left:1185px;
	top:154.23641967773438px;
	font-family:General Sans;
	text-align:right;
	font-size:11.75407886505127px;
	letter-spacing:0;
}
.e119_352 { 
	color:rgba(94.78599742054939, 100.34433156251907, 107.49077528715134, 1);
	width:42px;
	height:30px;
	position:absolute;
	left:1188px;
	top:220.23641967773438px;
	font-family:General Sans;
	text-align:right;
	font-size:11.75407886505127px;
	letter-spacing:0;
}
.e119_353 { 
	color:rgba(119.08383920788765, 121.9142085313797, 125.55327326059341, 1);
	width:42px;
	height:27px;
	position:absolute;
	left:1188px;
	top:307.2364196777344px;
	font-family:General Sans;
	text-align:right;
	font-size:11px;
	letter-spacing:0;
}
.e119_354 { 
	color:rgba(110.0609801709652, 113.58494907617569, 118.11577275395393, 1);
	width:71px;
	height:32px;
	position:absolute;
	left:1162px;
	top:383.2364196777344px;
	font-family:General Sans;
	text-align:right;
	font-size:11px;
	letter-spacing:0;
}
.e119_355 { 
	color:rgba(160.00000566244125, 174.00000482797623, 192.00000375509262, 1);
	width:55px;
	height:28px;
	position:absolute;
	left:1178px;
	top:464.2364501953125px;
	font-family:General Sans;
	text-align:right;
	font-size:11px;
	letter-spacing:0;
}
.e119_356 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:146px;
	height:14px;
	position:absolute;
	left:1225px;
	top:159.23641967773438px;
	font-family:General Sans;
	text-align:right;
	font-size:12px;
	letter-spacing:0;
}
.e119_357 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:97px;
	height:13px;
	position:absolute;
	left:1270px;
	top:225.23641967773438px;
	font-family:General Sans;
	text-align:right;
	font-size:13.348237037658691px;
	letter-spacing:0;
}
.e119_358 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:98.19259643554688px;
	height:13.801923751831055px;
	position:absolute;
	left:1280px;
	top:315.2364196777344px;
	font-family:General Sans;
	text-align:right;
	font-size:13.348237037658691px;
	letter-spacing:0;
}
.e119_359 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:107px;
	height:16px;
	position:absolute;
	left:1267px;
	top:388.2364196777344px;
	font-family:General Sans;
	text-align:right;
	font-size:12px;
	letter-spacing:0;
}
.e119_360 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:160px;
	height:11px;
	position:absolute;
	left:1242px;
	top:467.2364501953125px;
	font-family:General Sans;
	text-align:right;
	font-size:12px;
	letter-spacing:0;
}
.e119_361 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:38px;
	height:14px;
	position:absolute;
	left:1287px;
	top:174.23641967773438px;
	font-family:General Sans;
	text-align:right;
	font-size:11.75407886505127px;
	letter-spacing:0;
}
.e119_362 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:137px;
	height:14px;
	position:absolute;
	left:1265px;
	top:243.23641967773438px;
	font-family:General Sans;
	text-align:right;
	font-size:12px;
	letter-spacing:0;
}
.e119_363 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:68px;
	height:10px;
	position:absolute;
	left:1287px;
	top:412.2364196777344px;
	font-family:General Sans;
	text-align:right;
	font-size:12px;
	letter-spacing:0;
}
.e119_364 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:103px;
	height:14px;
	position:absolute;
	left:1245px;
	top:481.2364501953125px;
	font-family:General Sans;
	text-align:right;
	font-size:12px;
	letter-spacing:0;
}
.e119_365 { 
	color:rgba(160.00000566244125, 174.00000482797623, 192.00000375509262, 1);
	width:37px;
	height:14px;
	position:absolute;
	left:1200px;
	top:180.23641967773438px;
	font-family:General Sans;
	text-align:left;
	font-size:11.75407886505127px;
	letter-spacing:0;
}
.e119_366 { 
	color:rgba(160.00000566244125, 174.00000482797623, 192.00000375509262, 1);
	width:35px;
	height:14px;
	position:absolute;
	left:1201px;
	top:252.23641967773438px;
	font-family:General Sans;
	text-align:left;
	font-size:11.75407886505127px;
	letter-spacing:0;
}
.e119_367 { 
	color:rgba(160.00000566244125, 174.00000482797623, 192.00000375509262, 1);
	width:42px;
	height:12px;
	position:absolute;
	left:1201px;
	top:334.2364196777344px;
	font-family:General Sans;
	text-align:left;
	font-size:11.75407886505127px;
	letter-spacing:0;
}
.e119_368 { 
	color:rgba(160.00000566244125, 174.00000482797623, 192.00000375509262, 1);
	width:39px;
	height:14px;
	position:absolute;
	left:1203px;
	top:415.2364196777344px;
	font-family:General Sans;
	text-align:left;
	font-size:11.75407886505127px;
	letter-spacing:0;
}
.e119_369 { 
	color:rgba(160.00000566244125, 174.00000482797623, 192.00000375509262, 1);
	width:41px;
	height:12px;
	position:absolute;
	left:1204px;
	top:495.2364501953125px;
	font-family:General Sans;
	text-align:left;
	font-size:11.75407886505127px;
	letter-spacing:0;
}
.e128_10 { 
	color:rgba(4.000000236555934, 67.00000360608101, 92.00000211596489, 1);
	width:137px;
	height:14px;
	position:absolute;
	left:1265px;
	top:334.2364196777344px;
	font-family:General Sans;
	text-align:right;
	font-size:12px;
	letter-spacing:0;
}
